
PracticaMaD/.vs/PracticaMaD/config/applicationhost.config

PracticaMaD/.vs/PracticaMaD/v16/.suo

*.testlog

PracticaMaD/Model/bin/Debug/Model.dll

PracticaMaD/Model/bin/Debug/Model.pdb

*.cache

PracticaMaD/Model/obj/Debug/edmxResourcesToEmbed/photogram.csdl

PracticaMaD/Model/obj/Debug/edmxResourcesToEmbed/photogram.msl

PracticaMaD/Model/obj/Debug/edmxResourcesToEmbed/photogram.ssdl

PracticaMaD/Model/obj/Debug/Model.csproj.FileListAbsolute.txt

PracticaMaD/Model/obj/Debug/Model.dll

PracticaMaD/Model/obj/Debug/Model.pdb

PracticaMaD/ModelTests/bin/Debug/Model.dll

PracticaMaD/ModelTests/bin/Debug/Model.pdb

PracticaMaD/ModelTests/bin/Debug/ModelTests.dll

PracticaMaD/ModelTests/bin/Debug/ModelTests.pdb

PracticaMaD/ModelTests/obj/Debug/ModelTests.csproj.FileListAbsolute.txt

PracticaMaD/ModelTests/obj/Debug/ModelTests.dll

PracticaMaD/ModelTests/obj/Debug/ModelTests.pdb
