/* Body. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px 20px;
    background-color: #cfcaca;
}

/* Links. */

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Window. */

#window {    
    border: #000 1px solid;
    background-color: #fff;
    padding: 7px;
    width: 100%;
}

/* Page title. */

#pageTitle {
    background-color: #cfcaca;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 5px 5px;
    width: 100%;
    font-weight: bold;
}

/* Menu. */

#menu {
    background-color: #808080;
    color: #fff;
    text-align: left;
    padding: 5px 0 5px 5px;
    width: 100%;
}

#menuWelcome {
    font-weight: bold;
}

#menuLinks a {
    color: #fff;
}

/* Content. */

#content {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

p.info {
    font-size: 16px;
}

/* Forms. */

form {
    width: 100%;
}

div.field {
    clear: both;
    padding-top: 1em;
    width: 100%;
}

div.field span.label {
    float: left;    
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 0.3em;
    width: 49.5%;
}

div.field span.entry {
    float: right;    
    text-align: left;
    width: 49.5%;
}

div.checkbox {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

div.button {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

input, select, textarea {
    background-color: #ffffff;
}

/* Error messages. */

.errorMessage {
    font-weight: bold;
    color: red;
    margin-left: 5px;
}

/* Footer. */

#footer {
    border-top: 1px solid #000;
    padding-top: 5px;
    text-align: center;
    width: 100%;   
    padding-top: 5px;
   
}

/* User follows. */

table.userFollows {
    margin: 0 auto;
    text-align: center;
    width: 45%;
}